p {text-align: center}
h2 {font-size: 1.5em; color:green ; font-weight: bold ; text-decoration: none ; text-align: center; margin-top:50px; font-family: "Estrangelo Edessa"}
h3 {font-size: 1.3em; color:blue ; font-weight: bold ; text-decoration: none ; text-align: center; font-family: "Estrangelo Edessa"}

body {text-align: center; background-color: #79C5C9}



